/*h1
  {
   background-color: beige;
    color: blueviolet;
  }*/
  body{
    height:100vh;
    background-image: url(./il_1140xN.4881629201_oksp.webp);
    background-position-x: center ;
    background-repeat:no-repeat;
    background-size:contain;
    opacity:1;
    background-color:greenyellow;
    color: rgb(20, 255, 231);
    font-family:"<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ga+Maamli&display=swap" rel="stylesheet">";
    font-weight:bold;
    font-style: calc(5px,5px);
    font-size: xx-large;
    text-align: center;
    text-decoration-line:underline;
    text-shadow: 10px;
    text-transform: lowercase;
  }
